<div class="content">
  
  <div class="title">
    <h1>Google</h1>
  </div>
  
  <div class="content-box">
    <form action="#" method="POST">
    <ul>
      <li id="search-box">
      <input type="text"class="input-picture">
      </li>
      <div class="buttons">
	<li id="search-button">Google Search</li>
	<li id="lucky-button">I'm Feeling Lucky</li>
      </div>
    </ul>
    </form>
  </div>


</div>
